.button {
	position: absolute;
	bottom: 15%;
	right: 5%;
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	border-radius: .5em;
	padding: 1em;
	z-index: 30;
	color: white;
	border: 2px solid tomato;
	background-color: tomato;
	opacity: .8;
	transition: opacity .3s;
}

.button:hover {
	opacity: 1;
}

#reset {
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	border-radius: .5em;
	padding: 1em;
	z-index: 30;
	color: white;
	border: 2px solid tomato;
	background-color: tomato;
	opacity: .8;
	transition: opacity .3s;
}
